<mat-card class="home mat-elevation-z3">
  <mat-card-title class="title"> Bem vindo a Chili Beans! </mat-card-title>
  <mat-card-subtitle class="subtitle">
    Loja oficial da Chilli Beans
  </mat-card-subtitle>
  <h1>Confira nossos produtos</h1>
</mat-card>
<div class="row">
  <mat-card class="home mat-elevation-z3">
    <mat-card-title class="title"> Bem vindo a Chili Beans! </mat-card-title>
    <img class="logo" src="assets/img/logo.png" alt="logo" />
    <mat-card-subtitle class="subtitle"> Logo Chilli beans </mat-card-subtitle>
  </mat-card>
  <mat-card class="home mat-elevation-z3">
    <mat-card-title class="title"> Bem vindo a Chili Beans! </mat-card-title>
    <img class="logo" src="assets/img/logo.png" alt="logo" />
    <mat-card-subtitle class="subtitle"> Logo Chilli beans </mat-card-subtitle>
  </mat-card>
  <mat-card class="home mat-elevation-z3">
    <mat-card-title class="title"> Bem vindo a Chili Beans! </mat-card-title>
    <img class="logo" src="assets/img/logo.png" alt="logo" />
    <mat-card-subtitle class="subtitle"> Logo Chilli beans </mat-card-subtitle>
  </mat-card>
  <mat-card class="home mat-elevation-z3">
    <mat-card-title class="title"> Bem vindo a Chili Beans! </mat-card-title>
    <img class="logo" src="assets/img/logo.png" alt="logo" />
    <mat-card-subtitle class="subtitle"> Logo Chilli beans </mat-card-subtitle>
  </mat-card>
</div>
